<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../frontend/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,600,0,0" />
    <title>Login Page</title>
</head>

<body>

    <div class="container">
        <div class="login">
            <div class="login-header">
                <h2>Welcome to Our Student Marks Database Mangament System</h2>
                <p>Please login to use the platform</p>
            </div>
            <form class="login-form" autocomplete="off">
                <div class="login-form-content">
                    <div class="form-item">
                        <label for="emailForm">USN</label>
                        <input type="usn" id="emailForm">
                    </div>
                    <div class="form-item">
                        <label for="passwordForm">Password</label>
                        <input type="password" id="passwordForm">
                    </div>
                    <button type="submit">Sign In</button>
                </div>
            </form>
        </div>
    </div>


</body>

</html>